*.fastq
*.fastg
dfast_output/genome.*
dfast_output/ddbj/mss.fasta
prokkaout/genome.gbk
prokkaout/genome.gff
spadesoutgalaxy/assemblygraph.fastg
spadesoutgalaxy/assemblygraphwithscaffolds.txt
spadesoutgalaxy/contigs.fasta
spadesoutgalaxy/scaffolds.fasta